/*General styles*/
@font-face {
    font-family: 'Archivo';
    src:
    url('../assets/Fonts/Archivo-Variable.ttf') format('truetype') tech('variations'),
    url('../assets/Fonts/Archivo-Variable.ttf') format('truetype-variations');
    font-weight: 100 900;
}

:root{
    /*--c_primary: hsl(209, 100%, 78%);
    --c_secundary:#15171A;*/


    /*Colors*/
    --c_white: #fff;
    --c_black: #000;

    --c_slate_50:#F8FAFC;
    --c_slate_100:#F1F5F9;
    --c_slate_300:#CBD5E1;
    --c_slate_200:#E2E8F0;
    --c_slate_400:#94A3B8;
    --c_slate_500:#64748B;

    --c_brand_100:#B4E0F7;
    --c_brand_200:#89CAF5;
    --c_brand_400:#3092F7;
    --c_brand-500:#006EFA;
    --c_brand_600:#005ACD;
    --c_brand_900:#001F46;

    --c_danger_400:#F87171;
    --c_danger_600:#DC2626;

    /*Radius*/
    --sm-radius:8px;
    --base-radius:12px;
    --lg-radius:8px;

    /*Font sizes*/
    --title-size:20px;
    --subtitle-size:16px;
    --base-size:16px;
    --botones-size:16px;
    --avatar-size:12px;
    --label-size:14px;

    /*Spacing*/
    --xs-space:0.25rem;
    --sm-space:0.5rem;
    --base-space:0.75rem;
    --lg-space:1rem;
    --xl-space:1.25rem;
    --2xl-space:1.5rem;
    --3xl-space:2rem;
    --4xl-space:2.5rem;
    --5xl-space:4rem;
    --6xl-space:8rem;

    /*Font family*/

    /*Media query when the browser cant support variable fonts*/
    --base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    @supports (font-variation-settings: normal) {
        --base-font: 'Archivo',sans-serif;
    }
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.lucide{
    color: var(--c_slate_500);
    width: 20px;
    height: 20px;
}

