.lucide{
    cursor: pointer;
}

.checkbox-container{
    background-color: var(--c_slate_100);
    padding: var(--sm-space);
    border-radius: var(--sm-radius);

    &:has(input[type="checkbox"]:disabled){
        opacity: 0.5;
        .checkbok__tag {
            background-color: var(--c_slate_500);
        }
    }

    .checkbok__tag{
        font-size: var(--avatar-size);
        text-align: center;
        min-width: 80px;
        margin-block: 0;
        font-weight: 600;
        color: var(--c_brand_50);
        padding: var(--sm-space) var(--base-space);
        background-color: var(--c_brand-500);
        border-radius: var(--2xl-space);
    }
    .lucide{
        display: none;
        width: 0;
        height: 0;
        transform: scale(0);
        transition: all .5s ease-in 100ms;
    }
    input{
        display:inline-block;
        appearance: none;
        margin: 0;
        color:currentColor;
        width: 1.1em;
        height: 1.1em;
        background-color: #fff;
        border:0.1em solid var( --c_slate_500);
        border-radius: 0.12em;
        cursor: pointer;
        transform: translateY(0.0em);

    }
    input:checked {
        display: none;
        appearance: auto;
        + .lucide{
            display: initial;
            width: 1.4em;
            height: 1.4em;
            transform: scale(1) translateY(0.0em);
            color: var(--c_brand-500);
        }
    }
    &:has( input:checked ){
        background-color: var(--c_brand_100);
        color: var(--c_brand-500);
    }
}


.radio-button:has(input[type="radio"]){
    position: relative;
    &:after{
        content: "";
        background-color: #fff;
        border-radius: 100%;
        border: 1px solid ;
        display: inline-block;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
}

.radio-button:has(input[type="radio"]:checked){
    &:after{
        display: none;
    }
}

.radio-button{
    color : var(--c_slate_500);
    background-color: var(--c_slate_100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sm-space);
    border-radius: var(--sm-radius);

    input[type="radio"]{
        opacity: 0;
        margin:0;
    }

    .lucide{
        display: none;
        width: 20px;
        height: 20px;
        transform: scale(0);
        transition: transform .5s ease-in 100ms;
    }

    input:checked{
         display: none;

        + .lucide{
            display: initial;
            transform: scale(1);
            color: var(--c_brand-500);
        }

    }

    &:has( input:checked ){
        background-color: var(--c_brand_100);
        color: var(--c_brand-500);
    }
}