
.sidebar-configuration {
    background-color: var(--c_slate_100);
    border-inline-start: 1px solid var(--c_slate_300);
    padding-inline: var(--lg-space);
    padding-block: var(--xl-space);
}
.lucide{
    cursor: pointer;
}