.tag{
    --color-text:#475569;
    --back-color:#E2E8F0;

    font-size:14px;
    border-radius: var(--base-radius);

    color: var(--color-text);
    border: 1px solid var(--color-text);
    background-color: var(--back-color);

    padding-block: var(--sm-space);
    padding-inline: var(--base-space);

    .tag__text{
        margin-block: 0;
    }

    /*Differents Tags*/
    &[data-color="red"]{
        --back-color: #FEE2E2;
        --color-text: #DC2626;
    }
    &[data-color="blue"]{
        --back-color: #BFDBFE;
        --color-text: #2563EB;
    }
    &[data-color="green"]{
        --back-color: #DCFCE7;
        --color-text: #16A34A;
    }
    &[data-color="orange"]{
        --back-color: #FFEDD5;
        --color-text: #D97706;
    }
    &[data-color="yellow"]{
        --back-color: #FEF08A;
        --color-text: #CA8A04;
    }
    &[data-color="sky"]{
        --back-color: #BAE6FD;
        --color-text: #0284C7;
    }
    &[data-color="purple"]{
        --back-color: #E9D5FF;
        --color-text: #9333EA;
    }
    &[data-color="pink"]{
        --back-color: #FBCFE8;
        --color-text: #DF4288;
    }
}