.button-logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.lucide{
    width: 24px;
    height: 24px;
}

.icon-hover-logout{
    color: #64748B;
    &:hover{
        color:#006EFA;
    }
    &:focus{
        background-color: #006EFA;
    }
}
.ant-menu-item:nth-child(1) .ant-menu-title-content{
    text-wrap: nowrap;
}